/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone {
  position: relative;
  height: 135px;
  left: 0;
}

.zone-absolute {
  position: absolute;
  height: 200px;
} */